<template>
<div>
        <div>
            <div class="px-6 py-12 md:px-12 bg-gray-50 text-gray-800 text-center lg:text-left">
            <div class="container mx-auto xl:px-32">
                <div class="grid lg:grid-cols-2 gap-12 flex items-center">
                <div class="mt-12 lg:mt-0">
                    <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">Rasai Pengalaman <br /><span class="text-blue-600">Sempurna</span></h1>
                </div>
                <div class="mb-12 lg:mb-0">
                    <img
                    src="https://images.unsplash.com/file-1636585210491-f28ca34ea8ecimage"
                    class="w-full rounded-lg shadow-lg"
                    alt=""
                    />
                </div>
                </div>
            </div>
            </div>


        </div>


<div class="container my-24 px-6 mx-auto">

  
  <section class="mb-32 text-gray-800 text-center lg:text-left">
    <h2 class="text-3xl font-bold mb-12 text-center">Produk Yang Popular</h2>


    <div class="grid lg:grid-cols-3 gap-x-6">
        <div class="mb-12 lg:mb-2"
        v-for="category in categories.slice(0, 6)"
                    :key="category.id">
            <div class="shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover mb-6"
            
            style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <div v-if="category.image">
                      <img :src="'/categories/' + category.image" class="w-full" />
                    </div>
                    <div v-else>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhrDWDsBVNJ2H9ZEzuRAdawbcb6yf7H8dkHA&usqp=CAU" class="w-full">
                    </div>
            <a href="#!">
                <div
                class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
            </div>
            <h5 class="text-lg font-bold mb-3">{{ category.name }}</h5>
            <div class="mb-3 text-red-600 font-medium text-sm flex items-center justify-center lg:justify-start">
            <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path fill="currentColor"
                d="M216 23.86c0-23.8-30.65-32.77-44.15-13.04C48 191.85 224 200 224 288c0 35.63-29.11 64.46-64.85 63.99-35.17-.45-63.15-29.77-63.15-64.94v-85.51c0-21.7-26.47-32.23-41.43-16.5C27.8 213.16 0 261.33 0 320c0 105.87 86.13 192 192 192s192-86.13 192-192c0-170.29-168-193-168-296.14z" />
                </svg>Popular Now
            </div>
            <p class="text-gray-500 mb-7">Available: {{ category.order }} items </p>

          
        </div>
    </div>

    </section>

    </div>
    <footer class="bg-gray-900 text-center lg:text-left">
  <div class="text-gray-300 text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    Store Management
  </div>
</footer>

</div>
</template>

<script>
export default {
    data: function() {
        return {
            categories: [],
            products: []
        };
    },
    methods: {
        getCategories() {
            axios.get("http://127.0.0.1:8000/api/categories").then(response => {
                if (response.status >= 200 && response.status < 300) {
                    this.categories = response.data.categories;
                }
            });
        },
    },
    mounted() {
        this.getCategories();
    }
};
</script>


<style>

</style>