<template>

<div>
      <div class="p-6">
      <div class=" rounded-lg bg-gray-500 shadow-lg">
      <div class="">
      <div class="">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class=" inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class=" rounded-lg bg-gray-500 shadow-lg min-w-full text-center">
              <thead class="border-b bg-white-800">
                <tr>
                  <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-center">
                    Image
                  </th>
                  <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-center">
                    Name
                  </th>
                  <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-center">
                    Items
                  </th>
                  <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-center">
                    Action
                  </th>
                  <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-center">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-white border-b"  v-for="category in categories" :key="category.id">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                    <div v-if="category.image">
                      <img class="pl-11" :src="url+'/categories/'+category.image" style="height:100px; width:150px" alt="">
                    </div>
                    <div v-else>
                      <img class="pl-11" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhrDWDsBVNJ2H9ZEzuRAdawbcb6yf7H8dkHA&usqp=CAU"  style="height:100px; width:150px" alt="">
                    </div>
                  </td>
                  <td class="text-sm text-black font-light px-6 py-4 whitespace-nowrap">
                    {{ category.name}}
                  </td>
                  <td class="text-sm text-black font-light px-6 py-4 whitespace-nowrap">
                    {{ category.order}}
                  </td>
                  <td class="text-sm text-black font-light px-6 py-4 whitespace-nowrap">
                    <!-- <button class="ring ring-blue-300 hover:ring-blue-500" v-on:click="() => $router.push({name: 'EditCategory', params: {category}})">Edit</button> -->
                    <div class="flex space-x-2 justify-center">
                      <button
                        v-on:click="() => $router.push({name: 'EditCategory', params: {category}})"
                        data-mdb-ripple="true"
                        data-mdb-ripple-color="light"
                        class="inline-block px-6 py-2.5 bg-yellow-300 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                      >Edit</button>
                    </div>
                  </td>
                  <td class="text-sm text-black font-light px-6 py-4 whitespace-nowrap">
                    <div class="flex space-x-2 justify-center">
                      <button
                        v-on:click="deleteCategory(category.id)"
                        data-mdb-ripple="true"
                        data-mdb-ripple-color="light"
                        class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                      >Delete</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
</div>

</template>

<script setup>
 export default {
   data() {
     return {
       categories: [],
       url: window.location.origin
     }
   },
   methods: {
     getCategories() {
       axios.get('http://localhost:8000/api/categories').then(response => {
         if(response.status >= 200 && response.status <300){
           this.categories = response.data.categories
         }
       })
     },

     deleteCategory(id) {
         axios.get('http://localhost:8000/api/delete/category/'+id).then(response => {
         if(response.status >= 200 && response.status <300){
           alert(response.data.message)
           this.getCategories()
         }
       })
     }
   },
   mounted() {
     this.getCategories()
   }, 
 }
</script>