<template>
 
  <div class="p-6 ">
  <div class="rounded-lg bg-white shadow-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Edit Category Information</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Edit detail info about category and number of order with image.</p>
    </div>
    <div class="border-t border-gray-200"></div>
  <form class="p-10 ">
    <div class="form-group mb-6">
      <label for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700">Name</label>
      <input label="Order" v-model="name" type="text" placeholder="Enter category name..." class="form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        >
    </div>
    <div class="form-group mb-6">
      <label for="exampleInputPassword2" class="form-label inline-block mb-2 text-gray-700">Order</label>
      <input label="Order" v-model="order" type="number" placeholder="Enter your name..." class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
    </div>
  
<div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
  <div class="space-y-1 text-center">
                    <svg class="mx-auto h-12 w-12 " stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                      <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
      <div class="flex text-sm text-gray-600">
                      <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                        <span>Upload a file</span>
                        <input id="file-upload" name="file-upload" type="file" class="sr-only" @change="onFileSelected" />
                      </label>
      </div>
      </div>
      </div>
      <div class="px-4 py-3 text-right sm:px-6">
              <button  type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  v-on:click="submitForm()">Save</button>
      </div>
  </form>
</div>


</div>
</template>

<script>
import axios from 'axios'

export default {
    props: ['category'],
    data: function() {
      return {
        name: this.category.name,
        order: this.category.order,
        image: this.category.image
      }
    },

    methods: {

    onFileSelected(event) {
      this.selectedFile = event.target.files[0]
     },

    submitForm() {
      const formData = new FormData();
      this.name && formData.append("name", this.name);
      this.order && formData.append("order", this.order);
      formData.append("image", this.selectedFile, this.selectedFile.name);
      axios
        .post('http://localhost:8000/api/update/category/' + this.category.id, formData)
        .then((response) => {
          if (response.status >= 200 && response.status < 600) {
            this.$router.push("categories");
          }
        });
    }
  }

}
</script>

<style>

</style>